extends ../layouts/layout

block css 
  link(href="/styles/overview.min.css",rel="stylesheet")

block main
  div.overview-container
    section.overview-title 组织架构
    section.overview-content
      p 院长：尹明华
      p 党委书记：周桂发
      p 副院长：孙玮 李双龙 张涛甫
      p 党委副书记：杨鹏 陆柳