extends ../layouts/layout

block css 
  link(href="/styles/overview.min.css",rel="stylesheet")

block main
  div.overview-container
    section.overview-title 友情链接
    section.overview-content
      p
        a(href="http://www.xwxy.fudan.edu.cn/",target="_blank") 新闻学院官网
      p
        a(href="#",target="_blank") 新闻学院图书馆
      p
        a(href="#",target="_blank") 信息与传播研究中心
      p
        a(href="#",target="_blank") 新媒体研究网
      p
        a(href="#",target="_blank") 复新传媒