extends ../layouts/layout

block css 
  link(href="/styles/overview.min.css",rel="stylesheet")

block main
  div.overview-container
    section.overview-title 整体概况
    section.overview-content
      p 复旦大学新闻学院前身为复旦大学新闻系，创办于1929年9月。
      p 新闻学院地处上海杨浦区五角场商业中心区，交通便利，信息通畅。院区占地88亩，图书楼、办公楼和教学楼总建筑面积达9300平方米，拥有丰富的图书资料收藏和一流的教学科研设备。
      p 新闻学院设有新闻学系、广播电视学系、广告学系、传播学系，建立了本科、硕士、博士、博士后等多层次的新闻传播人才教育体系。学院共开设新闻学、传播学、广播电视学、媒介经营管理4个博士点，以及新闻学、传播学、广播电视学、广告学、媒介管理学、新闻与传播6个硕士点（包括“新闻与传播”专业学位）。
      p 新闻学院目前在读本科生、硕士生和博士生（包括港澳台学生和外国留学生）学生总数近1500人，其中有在复旦学院接受通识教育的新生260多名，本科生720多名，硕士生250多名，博士生80多名，外国留学生170多名。新闻学院毕业生以理论功底扎实、知识面广、适应能力强著称，众多毕业生已经成为当今我国新闻界的骨干力量。
      p 新闻学院现有全职教职工78人，其中教授20人（博士生导师18人），副教授21人，讲师13人，还聘请了一批学识精湛、经验丰富的知名专家、学者为兼职教授和兼职研究员，并聘请外籍专家担任顾问教授。部分专业的研究生教育采用学界与业界合璧的“双导师制”。
      p 新闻学院历史悠久，学术积淀深厚，拥有一批全国知名的学科领军人物和富有科研潜力的中青年学术骨干。其中有国务院新闻传播学科评议组召集人1名、教育部新闻传播学科教学指导委员会主任1名、中国新闻教育学会副会长1名、中国新闻史学会副会长2名，中国高校影视学会常务副会长1名，中国广告学会副会长、学术委员会副主任1名。
      p 新闻学院历来重视对外交流和国际化工作，积累了充裕的海外资源。迄今已与美国哥伦比亚大学新闻学院、密苏里大学新闻学院、英国伦敦政经学院（LSE）、金史密斯学院、弗吉尼亚联邦大学（VCU）、奥地利维也纳大学、萨尔斯堡大学、日本早稻田大学、东京大学、新加坡南洋理工、香港中文大学等40多个国家和地区的一流院系建立了人员交流和项目合作关系。
      p 新闻学院重视课堂教学与实践、基础研究与应用研究的结合。不仅与美国时代华纳、CCTV、香港TVB和凤凰卫视等海内外各大媒体保持密切联系，而且为各级政府和社会各界积极提供决策参考和咨询服务。2002年起，解放日报报业集团等六家新闻单位成为我院首批定点教学实习单位。新闻学院还是国务院新闻办唯一的“省部级新闻发言人”评估机构。
      p 新闻学院在新闻理论、传播理论、传播学实证调查、视觉文化与传播等研究领域居于国内领先水平，产生了一批国内领先的创新性学术成果，逐步建立了国际影响。1981年出版至今的《新闻大学》，是国内创办最早的新闻传播学术刊物之一，在全国历届新闻核心期刊评选中名列前茅。近年来新闻学院承担了多项国家社科基金项目、教育部重大课题攻关项目，发表论文、出版专著数量众多。
      p 在兄弟院校支持下，本学院发起创建了国内第一个传播学学术团体—“中国传播学会”，构筑了“中国传播学论坛”、“中外新闻传播理论研究和方法暑期学校”和“中国新闻传播学科研究生学术年会”等知名全国性学术平台。
      p 学院还与国内外多家学术研究机构合作成立了多个研究中心，其中包括复旦大学视觉文化研究中心、复旦大学国际公共关系研究中心、新媒体研究中心、媒介素质研究中心、复旦—金史密斯记录影像研究中心、复旦大学新闻学院国际出版研究中心等。
    