doctype html
html
	head
		meta(http-equiv="Content-Type",content="text/html",charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title 新闻学院
		block css
		
		block head
			
	body
		div#container
			header#header
				img(src="/icons/ycl.png",alt="共青团",title="共青团").header-tuanhui
				div.header-right
					img(src="/icons/owners.png").header-owners
				div.header-searchbar-container
					div.input-group
						input(type="text",placeholder="站内搜索")#search-input.form-control
						span.input-group-btn
							button(type="button")#search-button.btn.btn-default
								i.glyphicon.glyphicon-search
			nav.mynavbar
				div.mynavbar-nav
					each link in navLinks
						a(class=(section == link.key ? 'active' : null),href=link.href)= link.label
			main#main-container
				block main
					
			footer#footer
				p.footer-line1 all rights reserved&nbsp;复旦大学新闻学院版权所有&nbsp;由KeystoneJS提供技术支持
				p.footer-line2 联系方式 | 021-65642222
				p.footer-line3
					a(href="http://www.xwxy.fudan.edu.cn/" target="_blank") 新闻学院官网&nbsp;
					a(href="#" target="_blank") 新闻学院图书馆&nbsp;
					a(href="#" target="_blank") 信息与传播研究中心&nbsp;
					a(href="#" target="_blank") 新媒体研究网&nbsp;
					a(href="#" target="_blank") 复新传媒
		script(src="js/search.js")
		block js
