@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "../bootstrap/buttons.less";
@import "../bootstrap/button-groups.less";
@import "../bootstrap/input-groups.less";
@import "../bootstrap/forms.less";
@import "../bootstrap/glyphicons.less";
@import "./mynavbar.less";

@nav-bgcolor:#8f1908;
@font-color:#FCFCDF;
.unselectable{
  -webkit-user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

html,body{
  margin:0;
}

body{
  background-color: lightgray;
}


#container{
  width: 77em;
  margin:0 auto;
  padding:.875em;
  background-color: #fff;
}

#header{
  position: relative;
  width: 100%;
  height: 10.5em;
  margin: 0;
  background-color: @nav-bgcolor;
}

.header-mixin(@w){
  box-sizing: border-box;
  display: inline-block;
  float:left;
  width: @w;
  height: 10.5em;
}

.header-tuanhui{
  .header-mixin(10.5em);
  padding:.875em;
}

.header-right{
  .header-mixin(61.25em);
  padding-top: .875em;
}

.header-searchbar-container{
  position: absolute;
  display: inline-block;
  color: #FFF;
  bottom: .875em;
  right: 1.75em;
  width: 20em;
}

#search-input{
  float: right;
  height: 20px;
  width: 7.75em;
  &:focus{
    width: 15.5em;
    transition:.5s ease;
  }
}

#footer{
  margin: 0;
  padding:.875em 0 .1em 0;
  background-color: @nav-bgcolor;
  text-align: center;
  color:@font-color;
  font-size: 1em;
  font-family: "黑体";
  p{
    margin: 0 0 .4em 0;
  }
  a{
    margin-left: 2.625em;
    text-decoration: none;
    color: @font-color;
    &:hover{
      color:lightblue;
    }
  }
}
